:root {
  --black: #080808;
  --black-2: #111111;
  --black-3: #1a1a1a;
  --yellow: #f5d800;
  --yellow-2: #ffe033;
  --lime: #c8f000;
  --white: #ffffff;
  --gray: #888888;
  --gray-2: #444444;
}